:root {
    --orange: rgb(243, 170, 125) ;
    /* --vertB: #217776; */
    --orangeB: rgb(238, 144, 85) ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    background-color: rgb(32, 30, 30);
}



.main-content {
    
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 900px;
}
.left-box {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    background: url(connexion.jpg);
    /* background-color: rgba(128, 128, 128, 0.712);
    background-blend-mode: multiply; */
    background-position: center;
    object-fit: cover;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    max-width: 70%;
    border-radius: 30px 0 0 30px;
    transition: background-color 0.4s ease;
}
.focus{
    background-color: rgba(128, 128, 128, 0.712);
    background-blend-mode: multiply ; 
    transition: background-color 0.4s ease;
}


.left-box .content {
   padding-top: 20px !important;
   font-family: poppins;
    color: white;
    width: 100%;
    max-width: 1500px;
    padding: 0 100px 40px 100px;
    background-color: rgba(128, 128, 128, 0.301);
    backdrop-filter: blur(10px);
    border-radius: 0 0 0 30px;
    
}
.left-box .content .text {
    margin-bottom: 20px;
}
.left-box .content .author p {
    text-transform: uppercase;
  
}
.left-box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
   
    border-radius: 30px 0 0 30px;

}
.right-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    right: 20px;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 30%;
    border-radius: 30px;
}

.left-box .logo{
    padding: 30px;
    position: absolute;
    top: 6ex;
    border-radius: 30px;
}
.left-box .logo img {
    width: 100%;
    height: 100%;
}
.right-box .logo{
    padding: 10px;
    position: absolute;
    top: 60px;
    background-color: var(--orangeB);
    border-radius: 30px;
}
.right-box .logo img {
    height: 25px;
}
.right-box .register {
    font-family: calibri;
}
.right-box .register h2{
    user-select: none;
   margin-bottom: 50px;
   font-size: 2rem;
}
.register .input-field {
    position: relative;
    margin-bottom: 40px;
    
}
.register .input-field2 {
    margin-bottom: 25px;
    text-align: center;
    
}
.register .input-field2 a {
    color: black;
    font-weight: bold;
}
.register .input-field2 input {
    accent-color: var(--orangeB) ;
}
.register .input-field input{
    padding: 11px;
    width: 100%;
    outline: none;
    color: black;
    background-color: rgba(175, 157, 157, 0.212);
    border: none;
    border-radius: 10px;
   
}

.register .input-field label{
    position: absolute;
    margin-left: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.15s ease;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.356);
}

.register .input-field input:focus~label,
.register .input-field input:valid~label{
    font-size: 0.9rem;
    top: -5px;
    margin-left: 0;
    transform: translateY(-120%);
    color: black;
    font-weight: bold;

}

.register button {
    width: 100%;
    padding: 10px;
    font-family: calibri;
    background-color: var(--orangeB);
    border: 1px solid var(--orangeB);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease;
}
.register button:hover {
   background-color: var(--orange);
}
.register .login {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}
.register .login img{
    height: 25px;
    vertical-align:text-bottom;
    margin-left: 10px;
    transition: 0.25s ease;
}
.register .login a {
    color: black;
    font-weight: bold;
    cursor: pointer;
   
}
.register .login a:hover img {
    scale: 1.1 !important;
    transition: 0.25s ease;
   
}

.connexion {
    position: absolute; 
    bottom: 0;
    background-color:white;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 600px;
    opacity: 0;
    z-index: -1;
 

}

.show {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.15s ease;
}
.hide {
    opacity: 0;
    z-index: -1;
    transition: opacity 0.15s ease;
}

.connexion h2 {
    user-select: none;
    text-align: center;
}

/* RESPONSIVE  */

/* 2xl */
@media (max-width:1536px) {
    
}
@media (max-width: 1440px) {
    main {
        scale: 0.9;
      
    }
    .content .text h2 {
        font-size: 1.2rem;
    }
    .main-content {
        padding: 10px;
        height: 700px;
        overflow-y: scroll;
    }
    main-content::-webkit-scrollbar{
        width: 0;
        background-color: transparent;
    }
    .connexion {
        max-height: 535px;   
    }
}

/* xl */
@media (max-width: 1280px) {
    
}

@media (max-width: 962px) {
  
    
    .right-box .logo {
        background-color: transparent;
        top: 45px;
        
    }
    .right-box .logo img {
        height: 30px;
    }
    .right-box  {
        max-width: 50%;
        border: 2px solid gray;
        background-color: transparent;
        backdrop-filter: blur(8px);
        color: white;
        right: inherit;
       
    }
    .register{
       width: 100%;
       text-align: center;
       padding: 30px;
      

    }
    .connexion{
       max-width: 100%;
       text-align: center;
       padding: 30px;
       background-color: transparent;
      

    }
    .left-box {
        display: none;
    }
    .main-content {
        background: url(connexion.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px;
        border-radius: 30px;
       
    }
    .register .input-field input,
    .register .input-field label {
        color: white;
    }
    .register .input-field input:focus~label,
.register .input-field input:valid~label {
        color: white;
}
    .input-field2 a{
        color: var(--orangeB) !important;
    }

    .login a {
        color: var(--orangeB) !important;
    }

    
}
/* lg */
@media (max-width: 1024px) {
    
}
/* md */
@media (max-width: 768px) {

    .right-box {
        max-width: 60%;
    }
    
}
/* sm */
@media (max-width:640px) {
    
}
@media (max-width:600px){
    .right-box {
        max-width: 80%;
    }
}
/* 2xl */
@media (max-width: 475px) {
    .right-box {
        max-width: 100%;
    }
    body {
        background:url(connexion.jpg);
        background-color: rgba(0, 0, 0, 0.308);
        background-blend-mode: multiply;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
  
    .main-content {
        padding: 0;
    }
    .right-box .logo {
        top: 60px;
        
    }
    
}