:root {
    --vert: #1a6b69;
    --vertB: #217776;
    --blue:#ffffff;
    --rosange: linear-gradient(to right, white 0%,#fca491aa 0%, #f57093a0 40%, #cda0ca80 100%);
    --rosange2: linear-gradient(to top, white 0%,#fca491aa 0%, #f57093a0 40%, #cda0ca80 100%);
    --beige : #fca491;
    --violet: #cda0ca ;
    --rouge:#f57093;

}



@font-face {
    font-family:"apple" ;
    src: url(./Assets/Fonts/Apple_Berry.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}


html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
    color: black;
   
}
body.active{
    overflow-y: hidden;
    
}

.preventXoverflow {
    overflow-x: hidden;
}

header   {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.15s ease;
    background: var(--rosange);
    width: 100%;
    padding: 5px 0;
    z-index: 11;
    backdrop-filter: blur(5px);
}

header.active{
    position: initial;
}





header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 3px 0;

}



header .logo {

    width: 200px;
}

header .logo img {
    height: 50px;
    margin-right: 400px;


}

header .content .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    height: 19px;
    width: 25px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    position: relative;


}

.nav2 .menu2 {
    display: none;
}

header .menu .bar {
    position:absolute;
    width: 66%;
    right: 0;
    top: 43%;
  
    height: 3px;
    background-color:var(--blue);
    display: block;
    /* margin-bottom: 4px; */
    border-radius: 2px;

}


header .menu:before{

    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--blue);
    display: block;
    /* margin-bottom: 4px; */
    border-radius: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;

}


header .menu:after {

    content: "";
    position: absolute;
    width: 45%;
    height: 3px;
    background-color: var(--blue);
    display: block;
    right: 0;
    bottom: 0;
    /* margin-bottom: 4px; */
    border-radius: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;

}

header .menu.active:before,
header .menu.active:after {

    content: "";
    width: 70%;
    height: 3px;
    background-color: var(--vert) !important;
    display: block;
    margin-bottom: 4px;
    border-radius: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;


}


header .menu.active::before {
    transform: rotate(-45deg) translate(-5px, -3px);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: .15s;


}

header .menu.active::after {
    transform: rotate(45deg) translate(-5px, 3px);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: .15s;

}

.blend {
    display: none;
}

.nav2 {
    display: none;
}


header .nav {
    display: flex;
    align-items: center;
    font-family: poppins;
    font-size: 15px;

}

header nav ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

header .submenu {

    height: 0;
    scale: 0;

}

header .nav li {
    margin: 0 10px;
    transition: 0.15s ease;
}
header .nav a:hover{
    color: var(--vert);
    transition: 0.15s ease;
}
header .nav #home{
    color: var(--vert);
}
header .nav #list1{
    position: relative;
}
header .nav #list1:before{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   left: 0;
   top: 0;
   background-color: var(--vert);
   display: block;


}
header .nav #list1:after{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   right: 0;
   bottom: 0;
   background-color: var(--vert);
   display: block;
}
header .nav #list2{
    position: relative;
}
header .nav #list2:before{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   left: 0;
   top: 0;
   background-color: white;
   display: block;

}
header .nav #list2:after{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   right: 0;
   bottom: 0;
   background-color: white;
   display: block;
}
header .nav #list3{
    position: relative;
}
header .nav #list3:before{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   left: 0;
   top: 0;
   background-color: white;
   display: block;

}
header .nav #list3:after{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   right: 0;
   bottom: 0;
   background-color: white;
   display: block;
}
header .nav #list4{
    position: relative;
}
header .nav #list4:before{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   left: 0;
   top: 0;
   background-color: white;
   display: block;

}
header .nav #list4:after{
   content: "";
   position: absolute;
   width: 45%;
   height: 2px;
   border-radius: 3px;
   right: 0;
   bottom: 0;
   background-color: white;
   display: block;
}

header nav .submenu1 li:hover,
header nav .submenu2 li:hover{
    background-color: var(--vertB);

}
header nav .submenu1 a:hover,
header nav .submenu2 a:hover{
   color: white;
}
header nav {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .searchBar {
    margin: 0 10px;
    position: relative;

}

header .searchBar i {
    color: white;
    position: absolute;
    top: 25%;
    right: 10px;

}

header .searchBar input {
    padding: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
  
    border-radius: 15px;
    padding-left: 10px;

}

header .searchBar input:focus {
    outline: none;
}

header .openList {
    position: relative;
    user-select: none;

}

header .openList .submenu a {
    text-transform: capitalize;
    margin-left: 10px;
}

header .openList .fa-angle-down {
    color: var(--vert);
    vertical-align: middle;
}

header .openList .fa-angle-right {
    vertical-align: middle;
    margin-left: 5px;

}


header .openList:hover .submenu {
    /* height: initial; */
    /* width: initial; */
    transition: 0.2s ease-in-out;
    scale: 1;
    position: fixed;
    width: 125px;
    height: auto;
    margin-left: 13px;
    background-color: var(--vert);
    /* text-align: center; */
    backdrop-filter: blur(5px);
    border: 1px solid black;
    top: 44px;
    z-index: 1;



}

header .openList:hover #sideHustle {
    border-bottom: none;
}

header .openList .submenu1-2 li:last-of-type {
    border-bottom: none !important;
}

header .openList:hover .submenu li {
    border-bottom: 1px solid white;
    padding: 8px 0;
    color: white;
    text-transform: capitalize;



}

header .openList:hover .submenu li {
    margin: 0;
}






header .submenu1-1,
header .submenu1-2 {
    display: none;
}

header .openList .submenu1:hover .submenu1-1 {
    display: block;
    position: fixed;
    left: 123px;
    top: -1px;
    width: 200px;
    background-color: var(--vert);
    border: 1px solid var(--vert);


}

header .openList .submenu1:hover .submenu1-1 li:last-of-type {
    border-bottom: none;
}

header .openList .submenu2:hover .submenu1-2 {
    display: block;
    position: fixed;
    left: 123px;
    top: 40px;
    width: 200px;
    background-color: var(--vert);
    border: 1px solid var(--vert);

}

header .openList .submenu1:hover .submenu1-1 a,
header .openList .submenu2:hover .submenu1-2 a {

    text-transform: capitalize;
}

main{
   
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 75px;
}

main .content {
    display: flex;
    padding-bottom: 100px;
    
}
main .content .leftBlock .head h1{
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--beige);
}
main .content .leftBlock .head{
    text-align: center;
    font-family: poppins;
    border: 1px solid var(--vert);
    padding: 15px;
    border-radius: 100px;
}
main .content .leftBlock{
    width: 100%;
    max-width: 70%;
    margin-right: 25px;
    margin: auto 0;

}
main .content .rightBlock{
    font-family: poppins;
    width: 100%;
    max-width: 30%;
    height: 100vh;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

  
}

main .content .gallery{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
   
    

}
main .content .galleryContent{
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid var(--vert);
    border-radius:30px ;
    margin-bottom: 30px;
   

}
main .content .galleryContent img{
    width: 100%;
    height: 350px;
    border-radius: 30px;
    object-fit: cover;

}

main .content .galleryContent h4,
main .content .galleryContent p,
main .content .galleryContent button{
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
}
main .content .galleryContent button{
    float: right;
    margin: 20px;
    
}
main .content .galleryContent h4{
    font-family: poppins;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--rouge);

}
main .content .galleryContent p{
    font-family: "apple";
    letter-spacing: 1px;
    font-size: 40px;
    color: var(--violet);
}
main .content .galleryContent button{
    background-color: var(--vertB);
    border: 1px solid var(--vert);
    padding: 8px 15px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 500;
    cursor:pointer;
    transition: 0.15s ease;
}
main .content .galleryContent button:hover{
    background-color: transparent;
    color: var(--violet);
    border-color: var(--vert);
    scale: 1.1;
    transition: 0.15s ease;
}
main .content .galleryContent button i{
    color: var(--beige);
    vertical-align: middle;
}

main .content .rightBlock .box-1{
    width: 100%;
    border: 1px solid var(--violet) ;
    border-radius: 30px;
    text-align: center;
    padding: 20px 10px;
}
main .content .rightBlock .box-1 h2{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 400;
    border-bottom: 1px solid var(--vert);
    padding: 10px;
    margin-bottom: 20px;
    color: var(--beige);
}
main .content .rightBlock .liste li{
    padding: 10px;
    border: 1px solid var(--beige);
    border-radius: 20px;
    margin-bottom: 15px !important;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: poppins;
    transition: 0.15s ease;
}

main .content .rightBlock .liste li:hover{
    transition: 0.15s ease;
    background-color: var(--vert);
    border:1px solid var(--vert);
    color: var(--beige);

}
main .content .rightBlock .liste a{
        text-decoration: none;
        color: var(--vert);
}

main .content .rightBlock .box-2{
    width: 100%;
    border: 1px solid var(--violet);
    border-radius: 30px;
  
}
main .content .rightBlock .box-2 .img{
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
main .content .rightBlock .box-2 img{
    width: 100%;
    max-width: 350px;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

main .content .rightBlock .box-3{
    width: 100%;
    border: 1px solid var(--violet);
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    word-wrap: break-word;
}

main .content .rightBlock .box-3 p{
    color: var(--beige);
    width: fit-content;
    margin: 0 auto;
   
  
   
}
main .content .rightBlock .box-3 p a{
    text-decoration: none;
    border: 1px solid var(--beige);
    color: var(--vert);
    padding: 0 10px;
    border-radius: 30px;
    
 

}



/* --------------------------RESPONSIVE Acceuil-Menu-------------------------------- */

/* 2xl */
@media (max-width:1546px) {}

/* xl */
@media (max-width:1280px) {}

/* lg */
@media (max-width:1024px) {}

@media (max-width:1007px) {
    main .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main .content .leftBlock .head{
        width: fit-content;
        margin: 0 auto;
    }
    main .content .leftBlock .head h1{
        font-size: 20px;
        width:100%;
        max-width: fit-content;
        margin: 0 auto;
    }
    main .content .galleryContent .details{
        text-align: center;
    }
    main .content .galleryContent button{
        float:none;
       
    }
  
    main .content .galleryContent {
        height: auto;
    }
    main .content .galleryContent img{
        width: 100%;
        height: auto;
        border-radius: 30px;
        object-fit: cover;
    
    }
    main .content .leftBlock{
        max-width: 100%;
    }
    main .content .rightBlock{
        max-width: 100%;
        margin-left: 0;
        margin-top: 75px;
    }
}
@media (max-width:990px) {
    nav,
     .searchBar{
       display: none !important;
    }

    header .menu {
        display: block;
       

    }
   

    .nav2 .menu2 {
        display: block;
        height: 25px;
        width: 25px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: left;
        z-index: 99;
        scale: 0.8;


    }

    .nav2 .menu2 .bar {
        width: 100%;
        height: 3px;
        background-color: white;
        display: block;
        margin-bottom: 4px;
        border-radius: 2px;
        scale: 0;
        transition-timing-function: ease;
        transition-duration: .15s;

    }

    .nav2 .menu2 .bar {
        width: 100%;
        height: 3px;
        background-color: white;
        display: block;
        margin-bottom: 4px;
        border-radius: 2px;
        scale: 1;
        transition-timing-function: ease;
        transition-duration: .15s;
        
    }
   
    .nav2 .menu2:active{
        
        transition: 0.3s ease;
        transform: rotate(45deg);
        
    }

    .nav2 .menu2:before,
    .nav2 .menu2:after {

        content: "";
        width: 100%;
        height: 3px;
        background-color:white;
        display: block;
        margin-bottom: 4px;
        border-radius: 2px;
        scale: 0;
        transition-timing-function: ease;
        transition-duration: .15s;


    }

    .nav2 .menu2:before,
    .nav2 .menu2:after {

        content: "";
        width: 70%;
        height: 3px;
        background-color: white;
        display: block;
        margin-bottom: 4px;
        border-radius: 2px;
        transition-timing-function: ease;
        transition-duration: .15s;
        scale: 1;
        transition-property: scale;


    }


    .nav2 .menu2::before {
        transform: rotate(-45deg) translate(-5px, -3px);
        transition-property: transform;
        transition-timing-function: ease;
        transition-duration: .15s;


    }

    .nav2 .menu2::after {
        transform: rotate(45deg) translate(-5px, 3px);
        transition-property: transform;
        transition-timing-function: ease;
        transition-duration: .15s;

    }

    .blend {
       display: none;

    }
    .blend.active {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.423);
        top: 0;
        backdrop-filter: blur(5px);
        z-index: 1;

    }

    .nav2 .searchBar2 {
        margin: 50px 0;
        position: relative;
    
    }
    
    .nav2 .searchBar2 i {
        color: white;
        position: absolute;
        top: 25%;
        right: 10px;
        cursor: pointer;
    
    }
    
    .nav2 .searchBar2 input {
        padding: 5px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        width: 100%;
        padding: 10px 0;
        border-radius: 30px;
        padding-left: 10px;
    
    }
    
    .nav2 .searchBar2 input:focus {
        outline: none;
    }

    .nav2.active {
        transform: translateX(0);
        opacity: 1;
      transition: 0.4s cubic-bezier(.17,.84,.44,1);
        display: block;

       
        
    }
    .nav2 {
        display: block;
        position: fixed;
        background: var(--rosange2);
        width: 100%;
        max-width: 30%;
        height: 100%;
        top: 0;
        right: 0;
        padding-top: 30px !important;
        z-index: 1111;
        padding: 20px;
        transform: translateX(500px);
        opacity: 1;
        transition: 0.4s cubic-bezier(.17,.84,.44,1);
        overflow-y: scroll;
        font-family: poppins;
  
    }

    .nav2::-webkit-scrollbar{
      width: 0;
     
    }

    .nav2 .logo2{
       margin-top: 50px;
    }
    .nav2 .logo2 img{
        height: 55px;
       
    }

    .nav2 li {
        border-bottom: 1px solid white;
        padding: 5px 0;
    }

  
    .nav2  a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;

    }


    .nav2 .Nav2submenu{
       height: auto;
    }
    .nav2 .Nav2submenu1 {
        overflow-y: hidden;
        height: 0;
        transition: 0.3s ease;
        transition-property: height;
        padding-left: 10px;




    }

    .nav2 .Nav2submenu1.active {
        height:36px;
        transition: 0.3s ease;
        transition-property: height;


    }
    .nav2 .Nav2submenu2 {
        overflow-y: hidden;
        height: 0;
        transition: 0.3s ease;
        transition-property: height;
        padding-left: 10px;




    }

    .nav2 .Nav2submenu2.active {
        height:37px;
        transition: 0.3s ease;
        transition-property: height;
        
        
    }
    

header #list4{
    border-bottom: none;
}




.nav2 .Nav2submenu1-1.active {
    overflow-y: hidden;
    height: 0;
    transition: 0.3s ease;
    transition-property: height;
    padding-left: 10px;



}
.nav2 .Nav2submenu1-1 {
    overflow-y: hidden;
    height: 0;
    transition: 0.3s ease;
    transition-property: height;
    padding-left: 10px;
    

}

.nav2 .Nav2submenu1-1.active2 {
    height: 146px;
    overflow-y: hidden;
    transition: 0.3s ease;
    transition-property: height;


}


.nav2 .Nav2submenu1-1 li {
    padding-left: 20px;

}




.nav2 .Nav2submenu1-2.active {
    height: 0;
    overflow-y: hidden;
    transition: 0.3s ease;
    transition-property: height;
    padding-left: 10px;


}
.nav2 .Nav2submenu1-2 {
    height: 0;
    overflow-y: hidden;
    transition: 0.3s ease;
    transition-property: height;
    padding-left: 10px;


}

.nav2 .Nav2submenu1-2.active3 {
    height: 73px;
    overflow-y: hidden;
    transition: 0.3s ease;
    transition-property: height;
    
    
}



.nav2 .Nav2submenu1-2 li {
    padding-left: 20px;

}




.nav2 #angleDown1,
.nav2 #angleDown2,
.nav2 #angleDown3 {
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.15s ease;
    color: white;

    transition-property: transform;
}

.nav2 #angleDown2,
.nav2 #angleDown3 {
    visibility: hidden;
}

.nav2 #angleDown1.active {
    transform: rotate(-180deg);
    transition: 0.15s ease;
    transition-property: transform;
    visibility: visible;
}


.nav2 #angleDown2.active,
.nav2 #angleDown3.active {
    visibility: visible;
}

.nav2 #angleDown2.active2,
.nav2 #angleDown3.active3 {
    transform: rotate(-180deg);
    transition: 0.15s ease;
    transition-property: transform;
    visibility: visible;

}

main .content .leftBlock .head h1{
    font-size: 20px;
}

}





/* md */

@media (max-width:784px) {

    .nav2{
        max-width: 40%;
    }
}
@media (max-width:768px) {}

/* sm */
@media (max-width:640px) {}

@media (max-width:600px) {
    .nav2{
        max-width: 50%;
    }
}

/* xm */
@media (max-width:475px) {
    .nav2{
        max-width: 100%;
        text-align: center;
    }
    
    
}
@media (max-width:374px){

    main .content .rightBlock .box-2 .img{

        height: auto;
    }
}