:root {
    /* --vert: #1a6b69;
    --vertB: #217776; */
    --vert: rgb(243, 170, 125) ;
    --vertB: rgb(238, 144, 85) ;
    --blue: #ffffff;
    --rosange: linear-gradient(to right, white 0%, #fca491aa 0%, #f57093a0 40%, #cda0ca80 100%);
    --rosange2: linear-gradient(to top, white 0%, #fca491aa 0%, #f57093a0 40%, #cda0ca80 100%);
    --beige: #fca491;
    --violet: #cda0ca;
    --rouge: #f57093;
    --violetB: #8b6b89;

}



@font-face {
    font-family: "apple";
    src: url(./Assets/Fonts/Apple_Berry.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
    overflow-x: hidden;





}

html {
    margin: 0;
    padding: 0;
}




.hero.active {
    position: static !important;
}

.hero .hero-section {
    position: relative;
    padding-top: 100px !important;
    padding: 20px 0;
    display: flex;
    align-items: center;
    height: 100%;
    transition: top 0.4s ease;
    z-index: 1;


}

.hero {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(heroBackgrounD.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
   
   
}

.blendB {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.532);
    transition: background 0.15s ease;
    z-index: 1;
}
.height{
    height: 110vh;
}



.initial {
    position: static !important;
    transition: position 0.4s ease;
    padding: 30px;

}

.visibility {
    visibility: hidden;
}

.hero .hero-section .content {
   padding: 40px 0;
   padding-left: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  



}

.hero .hero-section .left {
    width: 100%;
    max-width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    border: 5px solid white;
    border-style: dotted;
    padding: 20px;


}
 


.hero .hero-section .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;


}

.hero .hero-section .left .blendL {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 3, 37, 0.303);
    border-radius: 100%;
    z-index: 1;
}

.hero .hero-section .left::before {
    content: "";
    position: absolute;
    width: 100px;
    left: -17px;
    top: 4px;
    height: 50px;
    border: 5px solid white;
    border-style: dotted;
    border-top: none;
    border-radius: 30px;
    border-right: none;
    border-bottom: none;
    display: block;
    transform: rotate(45deg) translate(25px, 5px);

}

.hero .hero-section .left::after {
    content: "";
    position: absolute;
    width: 100px;
    right: -17px;
    bottom: -10px;
    height: 50px;
    border: 5px solid white;
    border-style: dotted;
    border-top: none;
    border-radius: 30px;
    border-right: none;
    border-bottom: none;
    display: block;
    transform: rotate(220deg) translate(35px, 5px);


}



.hero .hero-section .right {
    font-family: poppins;

    margin-left: 30px;
}

.hero .hero-section .right h1 {
    text-wrap: wrap;
    font-weight: 400;
    color: var(--violet);
   
}

.hero .hero-section .right .font-1 {
    font-family: "apple";
    font-size: 2.6rem;
    color: var(--rouge);

}

.hero .hero-section .right .font-2 {
    font-family: "apple";
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: var(--violet);

}

.hero .hero-section .right p {
    font-weight: 600;
    color: var(--rouge);
}


main{
    padding: 60px 0;
    width: 100%;
}
main .section-1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
   
    
}
main .section-1 .box{
    width: 100%;
    max-width: 300px;
    height: 250px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}
main .section-1 .box .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.197);
    border-radius: 30px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.opacity{
    opacity: 1 !important;
    transition: opacity 0.6s ease;
}
main .section-1 .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
main .section-1 .box a button  {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

main .section-1 .box button{
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    text-transform: uppercase;
    font-family: poppins;
    border: 1px solid white;
    z-index: 3;

}



@keyframes flotter {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
        /* Effet de flottement vers le haut */
    }

    100% {
        transform: translateY(0);
    }
}

.flotter-animation {
    animation: flotter 4s ease-in-out infinite alternate;
    /* Animation du flottement */
}

.hero .scrolL-down {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: -25px;
    left: 10%;
    right: 0;
    margin: 0 auto;
    z-index: 111;
    color: var(--vertB);
    scale: 2.5;
}



/* -------------------------------------Responsive Body------------------------------------------- */

/* 2xl */
@media (max-width:1546px) {}

/* xl */
@media (max-width:1280px) {}

/* lg */
@media (max-width:1024px) {}

@media (max-width:1005px) {
    .hero .hero-section .content{
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-top: 0;
        padding-left: 0;
        text-align: center;
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
    }
    .height{
        height: 110vh;
    }


    .hero .hero-section .right{
        margin-left: 0;
    }
    .hero .hero-section .left{
        
        margin-top: 30px;
        width: 300px;
        height: 300px ;  
    
    }
    .hero .hero-section .blendL{
        width: 100%;
        height: auto;
    }
    .hero .hero-section .left img{
        width: 100%;
        height: 100% ;
    }
    .hero .scrolL-down {
        bottom: -25px;
       left: 64px;
       scale: 1.7;
       
    }
    .hero .blendB{
        
    background-color: rgba(0, 0, 0, 0.653);
    transition: background 0.15s ease;
 
 
    }
 
}

/* md */
@media (max-width:768px) {}

 /* sm */
 @media (max-width:641px) {
     .hero .hero-section .right h1{
         font-size: 30px;
        }
        .hero .hero-section .right{
            text-align: justify;
        }
    }
    @media (max-width:609px) {
        main{
            width: 100%;
            max-width: 98%;
            margin: 0 auto;
        }
        main .section-1 .box{
            max-width: 100%;
           
        }

    }

   /* xm */
   @media (max-width:475px) {

   }
   @media (max-width:350px) {
       .hero .hero-section .left{
           scale: 0.9;
           
           
        }
        .hero .hero-section .left img{
            width: 100%;
            height: 100% ;
        }
    }
    @media (max-width:305px){
       

        main .section-1{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
     
    }
 

